<header>
  <h1>Pilde & Napander</h1>
  <ul class="SubHeader">
    <li>
      <script>
        function weekNumber() {
            var onejan = new Date(new Date().getFullYear(), 0, 1);
            return Math.ceil((((new Date() - onejan) / 86400000) + onejan.getDay() + 1) / 7);
        }
        
        document.write("vko " + weekNumber());                
      </script>
    </li>
    <li>19. vuosikerta</li> 
    <li>★★★★★ 20014 (ebin)</li>
    <li>wappulehti.hommia.net</li>
  </ul>
</header>