@import url('https://fonts.googleapis.com/css?family=Kalam|Merriweather:700,900&display=swap');

$underlineColor: #000;
$underlineHeight: 10%;

body {
  font-family: 'Merriweather', serif;
  hyphens: auto;
  background-image: url('/seamless_paper_texture.png');
  background-repeat: repeat;
  font-size: 1.1rem;
  font-weight: 700;
}

header {
  border-bottom: 5px solid #333;
  margin-bottom: 1rem;

  > h1 {
    font-family: 'ChomskyRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 5em;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    @media (max-width: 800px), (max-screen-width: 800px) {
      font-size: 2.5em;
    }
  }

  > ul {
    border-top: 1px solid #333;
    margin: 0;
    padding: 0.5rem;
    list-style: none;
    display: flex;
    justify-content: space-between;

    @media (max-width: 950px), (max-screen-width: 950px) {
      display: none;
    }
  }
}

footer {
  border-top: 5px solid #333;
  padding: 20px;
  text-align: center;
  margin-top: 1rem;
}

.Content {

  h1, h2, h3 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }

  h1 {
    font-size: 2.8em;

    @media (max-width: 1100px), (max-screen-width: 1100px) {
      font-size: 2em;
    }


    @media (max-width: 800px), (max-screen-width: 800px) {
      font-size: 1.5em;
    }
  }

  hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
    margin-top: 2rem;
  }

  img {
    width: 100%;
    max-height: 30em;
    object-fit: cover;

    @media (max-width: 480px), (max-screen-width: 480px) {
      max-height: 180px;
    }
  }
}

.FrontPage {
  > div {
    padding: 1rem;
  }

  > .Info > hr {
    margin-bottom: 2rem;
  }

  @media (min-width: 800px), (min-screen-width: 800px) {
    display: flex;

    > .MainContent {
      width: 60%;
      border-bottom: none;
      border-right: 3px solid #333;

      > hr {
        display: none;
      }
    }

    > .Info {
      width: 40%;
    }
  }
}

a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 0 1px;
  transition: color ease 0.3s;
  font-family: 'Merriweather', serif;
  font-weight: 900;

  &::before, &::after {
    content: '';
    position: absolute;
    background-color: $underlineColor;
    z-index: -1;
    height: $underlineHeight;
  }
  
  &::before {
    width: 0%;
    left: 0;
    bottom: 0;
    transition: width ease 0.4s;
  }
  
  &::after {
    width: 100%;
    left: 0;
    bottom: 0;
    transition: all ease 0.6s;
  }
  
  &:hover {

    &::before {
      width: 100%;
    }
    
    &::after {
      left: 100%;
      width: 0%;
      transition: all ease 0.2s;
    }
  }
}

form {
  display: flex;
  flex-direction: column;

  > span {
    display: flex;
    margin-bottom: 0.5rem;

    > label {
      width: 120px; 
    }

    > input, textarea {
      flex: 1;
      background: none;
      border: none;
      border-bottom: 2.5px solid #000;
      font-family: 'Kalam', cursive;
      font-size: 1.1em;
      font-weight: 700;
      color: #18326d;
    }

    > button {
      font-family: 'Merriweather', serif;
      font-size: 1.2em;
      font-weight: 900;
      background: none;
      border: 2.5px solid #000;
      border-radius: 0;
      padding: 10px 20px;
      margin-top: 0.5rem;
      margin-left: auto;
    }
  }
}