@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');

$underlineColor: #000;
$underlineHeight: 10%;

body {
  font-family: 'Domine', serif;
  hyphens: auto;
  background-image: url('/background.jpg');
  background-repeat: repeat;
  font-size: 1.1rem;
  font-weight: 700;
}

header {
  border-bottom: 5px solid #333;
  margin-bottom: 1rem;

  > h1 {
    font-family: 'ChomskyRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 5em;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    @media (max-width: 800px), (max-screen-width: 800px) {
      font-size: 2.5rem;
    }
  }

  > ul {
    border-top: 1px solid #333;
    margin: 0;
    padding: 0.5rem;
    list-style: none;
    display: flex;
    justify-content: space-between;

    @media (max-width: 800px), (max-screen-width: 800px) {
      display: none;
    }
  }
}

footer {
  border-top: 5px solid #333;
  padding: 20px;
  text-align: center;
  margin-top: 1rem;
}

.Content {

  h1, h2, h3 {
    font-family: 'Lora', serif;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }

  h1 {
    font-size: 2.8em;

    @media (max-width: 800px), (max-screen-width: 800px) {
      font-size: 1.7em;
    }
  }

  hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
  }

  img {
    width: 100%;
    max-height: 30em;
    object-fit: cover;

    @media (max-width: 480px), (max-screen-width: 480px) {
      max-height: 180px;
    }
  }

  .ButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lora', serif;

    > a {
      margin: 20px;
      font-style: normal;
      text-decoration: none;
      display: inline-block;
      background: transparent;
      color: #fff;
      font-weight: 600;
      border: 2px solid #333;
      background-color: #333;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 1.5rem;
      cursor: pointer;
      transition: .1s ease-in-out all;
      box-shadow:
        0 2px #000,
        0 3px #000,
        0 4px 2px rgba(0,0,0,0.4)
      ;
    }

    &:hover {
      > a {
        background-color: #000;
      }
    }
  }
}

.FrontPage {
  > div {
    padding: 1rem;
  }

  @media (min-width: 800px), (min-screen-width: 800px) {
    display: flex;

    > .MainContent {
      width: 60%;
      border-bottom: none;
      border-right: 3px solid #333;

      > hr {
        display: none;
      }
    }

    > .Info {
      width: 40%;
    }
  }
}

a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 0 1px;
  transition: color ease 0.3s;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 1.1em;

  &::before, &::after {
    content: '';
    position: absolute;
    background-color: $underlineColor;
    z-index: -1;
    height: $underlineHeight;
  }
  
  &::before {
    width: 0%;
    left: 0;
    bottom: 0;
    transition: width ease 0.4s;
  }
  
  &::after {
    width: 100%;
    left: 0;
    bottom: 0;
    transition: all ease 0.6s;
  }
  
  &:hover {

    &::before {
      width: 100%;
    }
    
    &::after {
      left: 100%;
      width: 0%;
      transition: all ease 0.2s;
    }
  }
}