$PADDING_DEFAULT: 15px;

.title {
  text-transform: uppercase;
  font-family: Arial, sans-serif;

  h2 {
    text-decoration: underline;
  }
}

h2 {
  color: blue;
}

code {
  background-color: #f2f2f2;
  border: black 1px solid;
  padding: $PADDING_DEFAULT;
}